body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

nav{
    display: flex;
    padding: 16px 120px 16px 120px;
    align-items: center;
    justify-content: space-between;
}

nav img{
    width: 75px;
   
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 30px;
    cursor: pointer;
}
nav .btn{
    padding: 10px 16px;
    color: white;
    background-color: #30B866;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    /* font-weight: 500; */
}
nav .btn:hover{
  
    background-color:#006428 ;
    transform: scale(0.9);
    cursor: pointer;
}