body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

nav {
  height: 90px;
  display: flex;
  padding: 16px 120px 16px 120px;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 105px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 30px;
  cursor: pointer;
}
nav .navbtn {
  padding: 10px 16px;
  color: white;
  background-color: #30b866;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  /* font-weight: 500; */
}
nav .navbtn:hover {
  background-color: #006428;
  transform: scale(0.9);
  cursor: pointer;
}


body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.banner {
    width: 100%;
    background-image: url('./assets/hero-bg.png'); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding: 120px;
    box-sizing: border-box;
}


.box1 {
    color: #30b866;
    background-color: white;
    padding:0 20px ; 
    border-radius: 50px;
    margin-top: 115px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.box1 img{
   width: 18px;
  justify-content: left;
}



.box2 {
    margin: 0 auto; 
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-weight: 800;
    line-height: 0; 
    text-align: center;
}
.box2 .hdr1{
    color: white;
}
.box2 .hdr2{
    color: #30b866;
}


.box3 {
    width: 750px;
    margin-top: 16px;
    margin: 0 auto;
    color: white; 
    font-size: 18px;
    line-height: 1.6;
}


.box4 {
    margin-top: 32px;
    margin-bottom: 180px;
    display: flex;
    gap: 16px; 
    flex-wrap: wrap;
    justify-content: center;
}


.herobtn1 {
    background-color: #30b866; 
    color: white;
    border: none;
    padding: 14px 28px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

.herobtn1:hover {
    background-color: #259652;
}
.herobtn1 img{
    width: 7%;
    margin-top: 8px;
}


.herobtn2 {
    background-color: transparent;
    color: white;
    border: 1px solid #e5e7eb;
    padding: 14px 28px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    
}

.herobtn2 img{
    width: 7%;
    margin-top:9px;
    padding-right:6px ;
}

.herobtn2:hover {
    background-color: black;
    border-color: #d1d5db;
    
}


